/* google font added */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* css custom variable start */

:root {
  --main-white: #fff;
  --main-black: #000;
  --main-blue: #2d25a0;
  --button-bg: #e02c6d;
  --text-grey: #6c6c6c;
  --icon-grey: #969bab;
  --icon-bg: #e7e7e8;
  --main-transition: all 0.3s ease-in-out;
}

/* css custom variable end */

/* global style start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
}

body {
  font-family: "Poppins", sans-serif;
}

/* global style end */

/* header starts */

header {
  height: 677px;
  background-color: var(--main-blue);
}

/* navbar start */

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: var(--main-white);
}

.main-nav {
  display: flex;
}

.main-nav li {
  padding: 52px 24px;
}

.login-button {
  display: flex;
  align-items: center;
  margin: 52px;
  padding: 10px 24px;
  background: var(--button-bg);
}

.fa-sign-in-alt {
  color: var(--main-white);
  font-size: 24px;
  padding-right: 8px;
}

/* navbar end */

/* hero section start */

.hero {
  display: flex;
  justify-content: space-evenly;
}

.hero-title {
  font-size: 64px;
  color: var(--main-white);
  max-width: 485px;
}

.hero-title span {
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
}

.hero-title span:hover {
  color: var(--button-bg);
  animation: letter 1s linear infinite;
}

.hero-button {
  padding: 10px 24px;
  background: var(--button-bg);
  max-width: 168px;
  margin-top: 27px;
}

.hero-button a,
.fa-arrow-right {
  color: var(--main-white);
}

.fa-arrow-right {
  padding-left: 8px;
}

.hero-img img {
  height: 438px;
}
/* hero section end */
/* header end */

/* card section start */

.card-section {
  display: flex;
  justify-content: center;
}

.player-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70px;
}

.card {
  height: 474px;
  width: 330px;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0 30px 30px 0;
}

.card-info {
  width: 300px;
}

.card-info h1 {
  font-weight: 700;
  font-size: 28px;
  margin: 10px;
  margin-left: 0px;
}

.card-info p {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-grey);
  text-align: justify;
}

.card img {
  width: 300px;
}

/* card section end */

/* highlight section start */

.highlight {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.highlight-text h1 {
  font-size: 48px;
  font-weight: 700;
  max-width: 560px;
}

.highlight-text p {
  margin-top: 8px;
  max-width: 466px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-grey);
  text-align: justify;
}

.highlight-button {
  padding: 10px 24px;
  background: var(--button-bg);
  max-width: 168px;
  margin-top: 27px;
}

.highlight-button a,
.fa-arrow-right {
  color: var(--main-white);
}

.fa-arrow-right {
  padding-left: 8px;
}

.highlight-img img {
  height: 427px;
}
/* highlight section end */

/* Bonus section start */

/* News section start */

.news-articles {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news {
  position: relative;
  margin: 10px;
}

.news img {
  height: 330px;
  opacity: 0.9;
}

.news-title {
  position: absolute;
  max-width: 600px;
  color: var(--main-white);
  top: 75%;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: start;
}

.news-link {
  text-align: center;
  border: 1px solid var(--button-bg);
  padding: 5px 30px;
  color: var(--main-black);
  display: flex;
  justify-content: center;
  margin: 0 30%;
  border-radius: 10px;
}

.news-link:hover {
  background: var(--button-bg);
  color: var(--main-white);
  transition: var(--main-transition);
}

/* News section end */

/* Matches section start */

.match-section {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

fieldset {
  width: 80vw;
}

legend {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  padding: 10px;
}

.matches {
  display: flex;
  justify-content: space-around;
}

.scores {
  display: flex;
  justify-content: space-between;
}

.flag {
  display: flex;
  flex-direction: column;
}

.flag img {
  padding: 15px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
}

/* Matches section end */

/* Bonus section end */

/* footer section start */

footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.footer-img img {
  height: 110px;
}

.icons {
  display: flex;
  justify-content: center;
}

.fa-instagram,
.fa-dribbble,
.fa-twitter,
.fa-youtube {
  background-color: var(--icon-bg);
  color: var(--icon-grey);
  padding: 7px;
  margin: 7px;
  border-radius: 50px;
}

.copyright {
  margin: 20px 0 60px 0;
  text-align: center;
}
/* footer section end */

/* animation start */
@keyframes letter {
  100% {
    transform: rotate(360deg);
  }
}
/* animation end */
